<div class="container">
    <div class="row flex-lg-row-reverse g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 d-flex align-self-start sticky-top">
            <img src="assets/introduction.jpg" class="d-block img-fluid" loading="lazy"
                width="700" height="500">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3" style="margin-top:150px">ProteInspector</h1>
            <h4 >About</h4>
            <div [@animation]>
                <p class="lead">ProteInspector is a bioinformatics tool, which contains information about protein transformations, and can be used to analyze and mine data to deepen our understanding of proteins and changes in their conformation.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4" routerLink="/search">Go!</button>
                </div>
            </div>

        </div>
    </div>
</div>