/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.clickable-link {
    cursor: pointer;
}

.custom-btn-color:hover {
    color: var(--register-button--color) !important;
    background-color: var(--register-button--background-color) !important;
    border: 1px solid var(--register-button--background-color);

}

.custom-btn-color:active,
.custom-btn-color.active {
    color: var(--register-button--color) !important;
    background-color: var(--register-button--background-color) !important;
    border: 1px solid var(--register-button--background-color);
}


.custom-btn-color {
    margin-top: 1px;
    color: var(--register-button--hover-color);
    background-color: var(--register-button--hover-background-color);
    border: 1px solid var(--register-button--hover-color);
    --bs-btn-active-bg: var(--register-button--background-color);
    --bs-btn-active-color: var(--register-button--color) !important;
}