# data
/data
/database/insert-data/__pycache__
/database/insert-data/apo_holo_framework
/database/insert-data/update-db/dump.sql
/database/insert-data/update-db/inserted-data.json

/api/config.json
/api/metrics.json
/api/build
/api/node_modules
/api/dist
/query-executor/example