<h1 class="text-center">Protein transformation details</h1>
<div class="container">

    <div class="row mt-3 table-responsive" *ngIf="DataReady">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let name of ColumnOrder">{{name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let name of ColumnOrder">
                        <ng-template [ngIf]="externalLinkService.HasExternalLink(name)" [ngIfElse]="elseBlock">
                            <a href="{{externalLinkService.GetExternalLink(name, TableData[name])}}" target="_blank"
                                class="link-dark" data-toggle="tooltip" data-placement="top"
                                title="Link to external database: {{externalLinkService.GetExternalLink(name, TableData[name])}}">{{TableData[name]}}</a>
                        </ng-template>
                        <ng-template #elseBlock>
                            {{TableData[name]}}
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-5" id="msa-viewer-wrapper">
        <div id='msa-viewer'>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-outline-success" [disabled]="!VisualizationReady"
                        (click)="ToggleChainVisibility()">{{OnlyChains[1]}}</button>
                </div>
                <div class="row mt-3">
                    <div class="btn-group-vertical" role="group">
                        <div class="btn-group" *ngFor="let item of VisualizedProteins; index as i">
                            <button type="button" class="btn btn-outline-success" (click)="ToggleStructureVisibility(i)"
                                [disabled]="!VisualizationReady">
                                <ng-container *ngIf="IsProteinVisible[i]; else HideText">Hide</ng-container>
                                <ng-template #HideText>Show</ng-template> {{item.PdbCode}}</button>

                            <div class="btn-group" role="group">
                                <button id="ChangeTypeGroupDrop" type="button"
                                    class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" [disabled]="!VisualizationReady">
                                    Change type
                                </button>
                                <div class="dropdown-menu" aria-labelledby="ChangeTypeGroupDrop">
                                    <a class="dropdown-item"
                                        *ngFor="let RepresentationType of GetRepresentationTypes |  keyvalue"
                                        (click)="ChangeRepresentation(i, RepresentationType.key)">{{RepresentationType.value}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="ShowHighlightButton">
                    <button type="button" class="btn btn-outline-success" [disabled]="!VisualizationReady"
                        (click)="ToggleHighlighting()">Highlight span</button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div id='molstar-viewer'>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5" *ngIf="ContextDataReady">
        <h1 class="text-center">Transformation Context</h1>
        <div class="row mt-3 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let name of ContextColumnOrder">{{name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickable-link" *ngFor="let row of ContextTableData; index as i">
                        <td *ngFor="let name of ContextColumnOrder">
                            <ng-template [ngIf]="externalLinkService.HasExternalLink(name)" [ngIfElse]="elseBlock">
                                <a href="{{externalLinkService.GetExternalLink(name, row[name])}}" target="_blank"
                                    class="link-dark" data-toggle="tooltip" data-placement="top"
                                    title="Link to external database: {{externalLinkService.GetExternalLink(name, row[name])}}">{{row[name]}}</a>
                            </ng-template>
                            <ng-template #elseBlock>
                                {{row[name]}}
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>