#molstar-viewer {
    width: 1200px;
    height: 800px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: auto;
}

.container-fluid {
    width: auto !important;
    margin-left: 5% !important;
}