#molstar-viewer {
    width: 1200px;
    height: 800px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: auto;
}

.container-fluid {
    width: auto !important;
    margin-left: 5% !important;
}

.btn-group-vertical {
    padding: 0;
}

.btn {
    white-space: normal;
}

@media (max-width : 992px) {
    #button-panel {
        width: 200px;
        margin-bottom: 20px;
    }

    #button-panel-row {
        display: flex !important;
        justify-content: center !important;
    }

    #molstar-viewer {
        width: auto !important;
    }

    #pfv-parent {
        overflow: scroll;
    }
}