<div class="container-fluid">
    <div id="pfv-parent" class="my-5">
        <div class="row" id="pfv"></div>
    </div>
    <div class="row" id="button-panel-row">
        <div class="col-lg-2" id="button-panel">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-outline-dark" [disabled]="!VisualizationReady"
                        (click)="ToggleChainVisibility()">{{OnlyChains[1]}}</button>
                </div>
                <div class="row mt-3">
                    <div class="btn-group-vertical" role="group">
                        <div class="btn-group" *ngFor="let item of proteins; index as i">
                            <button type="button" class="btn btn-outline-success custom-btn-color"
                                [ngStyle]='getButtonStyles(i)' (click)="ToggleStructureVisibility(i)"
                                [disabled]="!VisualizationReady">
                                <ng-container *ngIf="IsProteinVisible[i]; else HideText">Hide</ng-container>
                                <ng-template #HideText>Show</ng-template> {{item.PdbCode}}</button>
                            <div class="btn-group" role="group" style="width: 50%; max-width: 50%;">
                                <button id="ChangeTypeGroupDrop" type="button"
                                    class="btn btn-outline-success dropdown-toggle custom-btn-color"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    [disabled]="!VisualizationReady" [ngStyle]='getButtonStyles(i)'>
                                    {{GetRepresentationTypes[ProteinRepresentation[i]]}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="ChangeTypeGroupDrop">
                                    <a class="dropdown-item"
                                        *ngFor="let RepresentationType of GetRepresentationTypes |  keyvalue"
                                        (click)="ChangeRepresentation(i, RepresentationType.key)">{{RepresentationType.value}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3"
                    *ngIf="ShowHighlightButtons && onlyDomains.length > 0 && VisualizationReady">
                    <h5>Domains:</h5>
                    <div class="btn-group-vertical" role="group">
                        <app-detail-view-button-group *ngFor="let domain of onlyDomains; let i = index"
                            class="btn-group" [disabled]="!VisualizationReady" [plugin]="plugin"
                            [molstarSelection]="generateMolstarExpression(domain)" [proteinIndex]="domain.ProteinIndex"
                            [description]="getDescriptionText(domain)"
                            [colorHex]="getHexColor(domain.ProteinIndex)"></app-detail-view-button-group>
                    </div>
                </div>
                <div class="row mt-3"
                    *ngIf="ShowHighlightButtons && onlyResidues.length > 0 && VisualizationReady">
                    <h5 class="mt-3">Residues:</h5>
                    <div class="btn-group-vertical" role="group">
                        <app-detail-view-button-group *ngFor="let domain of onlyResidues; let i = index"
                            class="btn-group" [disabled]="!VisualizationReady" [plugin]="plugin"
                            [molstarSelection]="generateMolstarExpression(domain)" [proteinIndex]="domain.ProteinIndex"
                            [description]="getDescriptionText(domain)"
                            [colorHex]="getHexColor(domain.ProteinIndex)"></app-detail-view-button-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div id='molstar-viewer'>
            </div>
        </div>
    </div>
</div>