#molstar-viewer {
    width: 1200px;
    height: 800px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: auto;
}

.container-fluid {
    width: auto !important;
    margin-left: 5% !important;
}

.btn-group-vertical {
    padding: 0;
}

.btn {
    white-space: normal;
}

.custom-btn-color:hover {
    color: var(--register-button--color);
    background-color: var(--register-button--background-color);
}

.custom-btn-color {
    margin-top: 1px;
    color: var(--register-button--hover-color);
    background-color: var(--register-button--hover-background-color);
    border: 1px solid var(--register-button--hover-color);
}

@media (max-width : 992px) {
    #button-panel {
        width: 200px;
        margin-bottom: 20px;
    }

    #button-panel-row {
        display: flex !important;
        justify-content: center !important;
    }

    #molstar-viewer {
        width: auto !important;
    }

    #pfv-parent {
        overflow: scroll;
    }
}