<div class="container-fluid mt-3">
    <div class="row" id="button-panel-row">
        <div class="col-lg-3 scroll-y" id="button-panel">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-outline-dark" [disabled]="!VisualizationReady"
                        (click)="ToggleChainVisibility()">{{OnlyChains[1]}}</button>
                </div>
                <div class="row mt-3" *ngIf="proteins.length > 0 && VisualizationReady">
                    <div class="btn-group-vertical" role="group">
                        <app-detail-view-button-group *ngFor="let protein of proteins; let i = index" class="btn-group"
                            [disabled]="!VisualizationReady" [plugin]="plugin"
                            [molstarSelection]="generateMolstarExpressionForWholeProtein()" [proteinIndex]="i"
                            [description]="protein.PdbCode" [proteinColorHex]="getHexColor(i)" [visible]="true"
                            [isWholeProtein]="true"
                            (updateOtherStructures)="updateAllStructures()"></app-detail-view-button-group>
                    </div>
                </div>
                <div class="row mt-3" *ngIf="ShowHighlightButtons && onlyDomains.length > 0 && VisualizationReady">
                    <h5>Domains:</h5>
                    <div class="btn-group-vertical" role="group">
                        <app-detail-view-button-group *ngFor="let domain of onlyDomains; let i = index"
                            class="btn-group" [disabled]="!VisualizationReady" [plugin]="plugin"
                            [molstarSelection]="generateMolstarExpression(domain)" [proteinIndex]="domain.ProteinIndex"
                            [description]="getDescriptionText(domain)"
                            [proteinColorHex]="getHexColor(domain.ProteinIndex)"
                            (updateOtherStructures)="updateAllStructures()"></app-detail-view-button-group>
                    </div>
                </div>
                <div class="row mt-3" *ngIf="ShowHighlightButtons && onlyResidues.length > 0 && VisualizationReady">
                    <h5 class="mt-3">Residues:</h5>
                    <div class="btn-group-vertical" role="group">
                        <app-detail-view-button-group *ngFor="let domain of onlyResidues; let i = index"
                            class="btn-group" [disabled]="!VisualizationReady" [plugin]="plugin"
                            [molstarSelection]="generateMolstarExpression(domain)" [proteinIndex]="domain.ProteinIndex"
                            [description]="getDescriptionText(domain)"
                            [proteinColorHex]="getHexColor(domain.ProteinIndex)"
                            (updateOtherStructures)="updateAllStructures()"></app-detail-view-button-group>
                    </div>
                </div>
                <div class="row mt-3"
                    *ngIf="ShowHighlightButtons && VisualizationReady && Ligands.length > 0">
                    <h5 class="mt-3">Ligands:</h5>
                    <div class="btn-group-vertical" role="group">
                        <app-detail-view-button-group *ngFor="let ligand of Ligands" class="btn-group"
                            [disabled]="!VisualizationReady" [plugin]="plugin"
                            [molstarSelection]="ligand.MolstarExpression" [proteinIndex]="ligand.ProteinIndex"
                            [description]="getLigandDescriptionText(ligand)"
                            [proteinColorHex]="getHexColor(ligand.ProteinIndex)" [representation]="'ball-and-stick'"
                            (updateOtherStructures)="updateAllStructures()"></app-detail-view-button-group>
                    </div>
                </div>
                <div class="row my-3">
                    <button type="button" class="btn btn-outline-dark" (click)="onExportButtonClicked()"
                        [disabled]="!VisualizationReady">Export</button>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="container">
                <div id='molstar-viewer' class="row">
                </div>
                <div id="pfv-parent" class="row">
                    <div id="pfv"></div>
                </div>
            </div>
        </div>
    </div>
</div>