<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="text-center">{{pageTitle}}</h1>
        </div>

    </div>
    <div class="row mt-3 table-responsive" *ngIf="DataReady">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let name of ColumnOrder">{{name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let name of ColumnOrder">
                        <ng-template [ngIf]="externalLinkService.HasExternalLink(name)" [ngIfElse]="elseBlock">
                            <a href="{{externalLinkService.GetExternalLink(name, TableData[name])}}" target="_blank"
                                class="link-dark" data-toggle="tooltip" data-placement="top"
                                title="Link to external database: {{externalLinkService.GetExternalLink(name, TableData[name])}}">{{TableData[name]}}</a>
                        </ng-template>
                        <ng-template #elseBlock>
                            {{TableData[name]}}
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-protein-visualization (export)="ExportDetails()"></app-protein-visualization>
<div class="container">
    <div class="row mt-5" *ngIf="ContextDataReady">
        <h1 class="text-center">Structure Context</h1>
        <div class="container">
            <div class="row" *ngFor="let biologicalStructure of ContextStructureHeadingMapping">
                <div *ngIf="ContextTableData[biologicalStructure['key']].length > 0" class="border p-5">
                    <h5 class="text-center text-muted">{{biologicalStructure['name']}}</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let name of ContextColumnOrder[biologicalStructure['key']]">
                                        {{name}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let row of ContextTableData[biologicalStructure['key']]; index as i">
                                    <td *ngFor="let name of ContextColumnOrder[biologicalStructure['key']]">
                                        <ng-template [ngIf]="externalLinkService.HasExternalLink(name)"
                                            [ngIfElse]="elseBlock">
                                            <a href="{{externalLinkService.GetExternalLink(name, row[name])}}"
                                                target="_blank" class="link-dark" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Link to external database: {{externalLinkService.GetExternalLink(name, row[name])}}">{{row[name]}}</a>
                                        </ng-template>
                                        <ng-template #elseBlock>
                                            {{row[name]}}
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>