<div class="container" [@animation]>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h6>Type the query:</h6>
            <div class="input-group rounded">
                <textarea class="form-control rounded" placeholder="Type Query" aria-label="Search"
                    aria-describedby="search-addon" [(ngModel)]="query"
                    (keydown.enter)="onEnterDownInCustomQueryTextbox($event)"></textarea>
                <span class="input-group-text border-0" id="search-addon">
                    <a class="btn btn-default btn-sm" (click)="submitCustomQuery()">
                        <i class="fa fa-search"></i>
                    </a> </span>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            Or specify the query using filters:
            <div class="dropdown">
                <select class="form-select" (change)="selectBiologicalStructureType($event)">
                    <option selected> Select Objects of Interest</option>
                    <option *ngFor="let item of filterService.BiologicalStructureTypes | keyvalue" [value]="item.key">
                        {{item.value["name"]}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div>
        <div *ngIf="isBiologicalStructureSelected">
            <div class="container" *ngFor="let item of DropdownMetricItems; index as i">
                <div class="row mt-3">
                    <div class="col-4" *ngIf="item.name === undefined">
                        <select class="form-select" (change)="specifyMetricName(i, $event)">
                            <option [selected]="true">Select Metric</option>
                            <option *ngFor="let metric of metricsOrder" value="{{metric}}">
                                {{filterService.AvailableMetrics[metric]["name"]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-4" *ngIf="item.name !== undefined">
                        <select class="form-select" (change)="specifyMetricName(i, $event)" ngModel="{{item.name}}">
                            <option *ngFor="let metric of metricsOrder" value="{{metric}}"
                                [selected]="filterService.AvailableMetrics[metric]['name'] === item.name">
                                {{filterService.AvailableMetrics[metric]["name"]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <select class="form-select"
                                *ngIf="item.type === 'integer' || item.type === 'float' || item.type === 'integer-between'"
                                [(ngModel)]="item.comparator" (change)="metricInputChanged()">
                                <option value="=">=</option>
                                <option value="&gt;">&gt;</option>
                                <option value="&gt;=">&#8805;</option>
                                <option value="&lt;">&lt;</option>
                                <option value="&lt;=">&#8804;</option>
                                <option value="!=">&#8800;</option>
                            </select>
                            <select class="form-select" *ngIf="item.type === 'string'" [(ngModel)]="item.comparator"
                                (change)="metricInputChanged()">
                                <option value="=">=</option>
                                <option value="!=">&#8800;</option>
                            </select>
                            <input type="text" class="form-control w-75" placeholder="{{item.name}}"
                                [(ngModel)]="item.value" (change)="metricInputChanged()"
                                (keydown.enter)="submitRegularQuery()">
                            <span class="input-group-text clickable-link" id="basic-addon1" (click)="removeMetric(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container" *ngIf="isBiologicalStructureSelected">
                <div class="mt-3">
                    Sort by Metric:</div>
                <div class="row">
                    <div class="col-4">
                        <select class="form-select" (change)="specifySortingMetric($event)">
                            <option [selected]="true">Select Sorting Metric</option>
                            <option *ngFor="let metric of metricsOrder" value="{{metric}}">
                                {{filterService.AvailableMetrics[metric]["name"]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <div class="input-group">

                            <select class="form-select" [(ngModel)]="SortingMetric.order"
                                (change)="metricInputChanged()">
                                <option value="ASC" selected="true">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group rounded clickable-link mt-3 p-3 justify-content-center"
                        (click)="submitRegularQuery()">
                        <span class="input-group-text border-0" id="search-addon">
                            Search
                            <a class="btn btn-default btn-sm">
                                <i class="fa fa-search"></i>
                            </a> </span>
                    </div>
                </div>
            </div>
        <app-result-table [structure]="structure" [query]="finishedQuery"></app-result-table>
        </div>
    </div>
</div>