<div class="container" [@animation]>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h6>Type the query:</h6>
            <div class="input-group rounded">
                <input type="text" class="form-control rounded" placeholder="Type Query" aria-label="Search"
                    aria-describedby="search-addon" [(ngModel)]="query" (keydown.enter)="sendQuery()" />
                <span class="input-group-text border-0" id="search-addon">
                    <a class="btn btn-default btn-sm" (click)="sendQuery()">
                        <i class="fa fa-search"></i>
                    </a> </span>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <hr />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        Or specify the query using filters:
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>
    <div class="col-3"></div>
</div>
    <div [style.display]="TableData.length > 0 && TableColumnNames.length > 0 ? 'block' : 'none'">
        <hr />
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled': pageNumber <= 0 || !DataReady}">
                        <a class="page-link clickable-link" aria-label="First" (click)="changePage(0)">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': pageNumber <= 0 || !DataReady}">
                        <a class="page-link clickable-link" aria-label="Previous" (click)="changePage(pageNumber - 1)">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li *ngIf="pageNumber - 2 >= 0" class="page-item" [ngClass]="{'disabled': !DataReady}"><a class="page-link clickable-link"
                            (click)="changePage(pageNumber - 2)">{{pageNumber -
                            1}}</a></li>
                    <li *ngIf="pageNumber - 1 >= 0" class="page-item" [ngClass]="{'disabled': !DataReady}"><a class="page-link clickable-link"
                            (click)="changePage(pageNumber - 1)">{{pageNumber}}</a>
                    </li>
                    <li class="page-item active"><a class="page-link">{{pageNumber + 1}}</a></li>
                    <li *ngIf="pageNumber + 1 <= numberOfPages - 1" class="page-item" [ngClass]="{'disabled': !DataReady}"><a
                            class="page-link clickable-link" (click)="changePage(pageNumber + 1)">{{pageNumber
                            + 2}}</a></li>
                    <li *ngIf="pageNumber + 2 <= numberOfPages - 1" class="page-item" [ngClass]="{'disabled': !DataReady}"><a
                            class="page-link clickable-link" (click)="changePage(pageNumber + 2)">{{pageNumber
                            + 3}}</a></li>

                    <li class="page-item" [ngClass]="{'disabled': pageNumber >= numberOfPages - 1 || !DataReady}">
                        <a class="page-link clickable-link" aria-label="Next" (click)="changePage(pageNumber + 1)">
                            <span aria-hidden=" true">&raquo;</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': pageNumber >= numberOfPages - 1|| !DataReady}">
                        <a class="page-link clickable-link" aria-label="Last" (click)="changePage(numberOfPages - 1)">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row justify-content-center" [style.display]="!DataReady ? '' : 'none'">
            <div class="spinner-border " role="status">
            </div>
        </div>
        <div [style.display]="DataReady ? 'block' : 'none'">
            <div class="row">
                <h5 class="text-center">Results</h5>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead id="fixed-thead" class="bg-white my-1">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" *ngFor="let name of ColumnOrder">{{name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clickable-link" *ngFor="let row of TableData; index as i"
                                routerLink="/protein/{{encodeUri(datasetService.currentQuery)}}/{{(i + 1) + (pageNumber * pageSize)}}">
                                <th scope="row">{{(i + 1) + (pageNumber * pageSize)}}</th>
                                <td *ngFor="let name of ColumnOrder">{{row[name]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" [ngClass]="{'disabled': pageNumber <= 0}">
                            <a class="page-link clickable-link" aria-label="First" (click)="changePage(0)">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled': pageNumber <= 0}">
                            <a class="page-link clickable-link" aria-label="Previous"
                                (click)="changePage(pageNumber - 1)">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <!--<li *ngIf="pageNumber - 3 >= 0" class="page-item"><a class="page-link">...</a></li>-->
                        <li *ngIf="pageNumber - 2 >= 0" class="page-item"><a class="page-link clickable-link"
                                (click)="changePage(pageNumber - 2)">{{pageNumber -
                                1}}</a></li>
                        <li *ngIf="pageNumber - 1 >= 0" class="page-item"><a class="page-link clickable-link"
                                (click)="changePage(pageNumber - 1)">{{pageNumber}}</a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{pageNumber + 1}}</a></li>
                        <li *ngIf="pageNumber + 1 <= numberOfPages - 1" class="page-item"><a
                                class="page-link clickable-link" (click)="changePage(pageNumber + 1)">{{pageNumber
                                + 2}}</a></li>
                        <li *ngIf="pageNumber + 2 <= numberOfPages - 1" class="page-item"><a
                                class="page-link clickable-link" (click)="changePage(pageNumber + 2)">{{pageNumber
                                + 3}}</a></li>
                        <!--<li *ngIf="pageNumber + 3 <= numberOfPages - 1" class="page-item"><a class="page-link">...</a></li>-->

                        <li class="page-item" [ngClass]="{'disabled': pageNumber >= numberOfPages - 1}">
                            <a class="page-link clickable-link" aria-label="Next" (click)="changePage(pageNumber + 1)">
                                <span aria-hidden=" true">&raquo;</span>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled': pageNumber >= numberOfPages - 1}">
                            <a class="page-link clickable-link" aria-label="Last"
                                (click)="changePage(numberOfPages - 1)">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>