@media (max-width : 770px) {
    .col-6 {
        width: 95%;
    }
    .col-3 {
        width: 0%;
    }
    #text-input-row {
        padding: 0%;
        margin: 0%;
    }
    .mobile-w-25 {
        width: 25%;
    }
    .mobile-w-50 {
        width: 50% !important;
    }
    #filters-spec-div{
        margin-left: 12px;
    }
}