<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-header mx-4">
                <a class="navbar-brand" routerLink="home">ProteInspector</a>
            </div>
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="search">Search</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="datasets">Datasets</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="https://github.com/skrhakv/ProteInspector/wiki/ProteInspector"
                        target="_blank">Documentation</a></li>
            </ul>
            <div class="ms-auto" *ngIf="backendCommunicationService.SelectedDataset !== undefined">
                <span class="navbar-text mx-4">
                    Selected dataset: {{backendCommunicationService.SelectedDataset.dataset_name}}
                </span>
            </div>
        </div>
    </div>
</nav>
<div class="alert alert-warning d-block d-sm-none text-center" role="alert">
    Attention mobile users: We recommend using a desktop device for the best experience. Some features may not be fully optimal on smaller screens
</div>
<router-outlet></router-outlet>